.shipping-item{
    width: 100%;
    min-width: 375px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #ebf8da;
}