.product-details{
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

img{
    margin: 5px;
    height: 220px;
    width: 240px;
    display: inline-block;
}

img:hover{
    cursor: pointer;
}

.ratings{
    display: flex;
    align-items: center;
}

.ratings span{
    margin-right: 10px;
}

.prices{
    display: flex;
}

.prices h4{
    text-decoration:line-through;
    font-weight: 500;
    margin-right: 10px;
}

button{
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 500;
    background-color: rgb(98, 170, 209);
    color: white;
    border: none;
    cursor: pointer;
}

:host{
    background-color: white;
    width: 100vw;
}