.product-details{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

img{
    margin: 5px;
    height: 220px;
    width: 240px;
    display: inline-block;
}

img:hover{
    cursor: pointer;
}

.ratings{
    display: flex;
    align-items: center;
}

.ratings span{
    margin-right: 10px;
}

.prices{
    display: flex;
}

.prices h4{
    text-decoration:line-through;
    font-weight: 500;
    margin-right: 10px;
}

button{
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 500;
}

:host{
    background-color: white;
    width: 100vw;
}