<h3>Cart</h3>

<p>
    <a routerLink="/shipping">
        Shipping Prices
    </a>
</p>

<div *ngIf="items.length > 0 else emptyCart" id="table-container">

  <table id="cart-table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of items">
        <td></td>
        <td style="display: flex;justify-content: left; align-items: center;"><img style="margin-right: 10px;" src="{{item.image}}" > {{item.title}} </td>
        <td>x {{item.qty}}</td>
        <td>{{item.price | currency:"INR"}}</td>
      </tr>
    </tbody>
  </table>

  <table id="total-price-table">
    <tr>
      <th>Price Details</th>
    </tr>
    <tr>
      <td>Price</td>
      <td>{{totalPrice | currency:'INR'}}</td>
    </tr>
    <tr>
      <td>Delivery Charges</td>
      <td>{{50 | currency:'INR'}}</td>
    </tr>
    <tr>
      <td>Total Amount</td>
      <td>{{totalPrice + 50 | currency:'INR'}}</td>
    </tr>
  </table>

  <div id="cart-btns">
    <button id="clear-btn" (click)="clearCart()">Clear Cart</button>
    <button id="order-btn" (click)="onSubmit()">Place Order</button>
  </div>
 
</div>

<ng-template #emptyCart>
  <div id="cart-gif">
    <h3>Your Cart Is Empty</h3>
    <img src="https://cdn.dribbble.com/users/2046015/screenshots/4591856/media/314560586aef7f1eae694d78a015c69c.gif">
  </div>
</ng-template>

<div *ngIf="display then greenTick">
</div>

<ng-template #greenTick>
  <div id="green-tick">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_ikihxv4x.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"    autoplay></lottie-player>
  </div>
</ng-template>

